     @charset "utf-8";
    /* CSS Document */

    body {
    display: block;
    background-color: #CCCCCC;

    }
    
    .logo {
    background-image: url(files/logo.jpg);
    background-repeat: no-repeat;
    display: block;
    width: 400px;
    height: 100px;
    border: thick outset ;
   margin-left: auto;
   margin-right: auto;
position: static;
    }
    
    .welcome {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
     position: static;
    
    }
    
    
    .good {
    background-color: rgb(200,255,200);
    border-color: rgb(50,255,50);
        border-width: 3px;
    border-style: solid;
        padding: 5px;
    margin: 8px;
    text-transform:capitalize;
    }
    
    .bad {
    background-color: rgb(255,200,200);
    border-color: rgb(255,100,100);
        border-width: 3px;
    border-style: solid;
        padding: 5px;
    margin: 8px;
    text-transform:capitalize;
        }
    
    .ugly {
   background-color: #FFFFCC;
   border-color: #FFFF00;
       border-width: 3px;
    border-style: solid;
        padding: 5px;
    margin: 8px;
    text-transform:capitalize;
    }
    

    
    .important {
    background-color: rgb(245,245,245); 
    font-size: large;
    font-variant: normal;
    text-transform:none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 1em;
    padding-right: 1em;
    border-top: 1px solid rgb(150,150,150);
    border-bottom: 1px solid rgb(150,150,150);
    border-left: 2px solid rgb(150,150,150);
    border-right: 2px solid rgb(150,150,150);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1px;
    margin-right: 1px;
    font-weight: bold;
    }
        .important:hover {
        
        background-color: #ffffff;

    
    }
    
    .atpcontent {
        background-color: #ffffff;
        display: block;
        border-top-width: 5px;
        border-right-width: 5px;
        border-bottom-width: 5px;
        border-left-width: 5px;
        border-top-style: none;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;    
    }
    .atpmenu {
        background-color: #EFEFEF;
        display: block;
        border-top-width: 5px;
        border-right-width: 5px;
        border-bottom-width: 3px;
        border-left-width: 5px;
        border-top-style: none;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-bottom-color: #000000;
        border-right-color: #EFEFEF;
        border-left-color: #EFEFEF;
    }


    .sectiontitle {
    font-weight: bold;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 8px;
    display: block;
    font-size: 16pt;
border-left-style: groove;
border-left-color: #000000;
border-left-width: 16px;
background-color: #ffffff;
font-variant:small-caps;
    }
    
    .sectionbody {
    background-color: #ffffff;
    border: 1px solid #EFEFEF;
    
    display: block;
    padding: 1em;
    }
    
        
        .sectionbody:hover {
    border: 1px solid #000000;

    }
    


    a:link{
    color: #000000;
    }

    a:visited{
    color: #000000;
    }

    .sectionI {
        visibility: hidden;
        height: 0px;
        display: none;
    }

    .sectionA {
        background-color: #EFEFEF;
        display: block;
        height: auto;
        position: relative;
        padding: 5px;
    }

    .sectionA:hover {

    }

    .buttonI {
        float: left;
        display: block;
        background-color: #C9C9C9;
        border: 3px outset #030303;
        padding: 3px;
        margin: 2px;
        position: relative;
        height: 1.1em;
        font-family: Geneva, Arial, Helvetica, sans-serif;
        font-weight: 900;
        overflow: hidden;
        text-decoration: none;
        cursor:default;
    }

	tr.tHistory{
position: relative;
	z-index:1;
	overflow: hidden;
	display: table-row;
border-color: #ffffff;
	}
	

	
	tr.tHistory[name=credit]{
	background-color: #EEFFEE;
	
	}
	tr.tHistory[name=debit]{
	background-color: #FFEEEE;
	
	}

     		tr.tHistory:hover{
position: relative;
	z-index:10;
	overflow: visible;
background-color: #ffffff;
border-bottom-color: #000000;
     		}
		
		
			tr.tHistory>td{
padding-top: 2px;
padding-bottom: 2px;
padding-left: 5px;
padding-right: 5px;
z-index:1;
border-width: 1px;
border-style: solid;
border-top-color: #ffffff;
border-left-color: #ffffff;
border-right-color: #ffffff;
border-bottom-color: #000000;


		
	}
		
	tr.tHistory>td[name=reference]{
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
		
	}
	
		tr.tHistory>td[name=date]{
	text-align: center;
	}
	
			tr.tHistory>td[name=amount]{
	text-align: right;
	font-size: 12pt;
	
	}
	
			tr.tHistory>td[name=details]{
	display: block;
	height: 0em;
	width: 0em;
	overflow: visible;
	position: absolute;
	left: 15px;
	font-size: 8pt;
	background-color: #ffffff;
	
	}
	
	tr.tHistory>td[name=details]:hover{

	z-index:10;

	
	
	}
	
	
		tr.tHistory>td[name=details]>div{
	display: block;
	height: 1em;
	width: 2.5em;
	background-color: #FFFFAD;
	top: 0em;
	left: 0em;
	position:absolute;
	overflow: hidden;
	
	}
	
		tr.tHistory>td[name=details]>div:hover{
	display: block;
	height: 5em;
	width: 20em;
	overflow: auto;
	background-color: #ffffff;
	top: 0em;
	left: 0em;
	font-size: 12pt;
	line-height: 12pt;
	position:absolute;
	border-top-style: outset;
	border-left-style: outset;
	border-bottom-style: outset;
	border-right-style: outset;
	border-bottom-width: 2px;
	border-right-width: 2px;
	border-top-width: 1px;
	border-left-width: 1px;
	
	padding: 5px;
	}
	

	
	
    .buttonI:hover {
        background-color: #FFFFFF;
        font-weight: 900;
    }




    .buttonA {
        float: left;
        display: block;
        padding: 3px;
        margin: 2px;
        position: relative;
        height: 1.1em;
        font-family: Geneva, Arial, Helvetica, sans-serif;
        font-weight: 700;
        overflow: hidden;
        height: 1.1em;
        text-decoration: none;
        background-color: #EFEFEF;
        border-top-width: 3px;
        border-right-width: 3px;
        border-bottom-width: 3px;
        border-left-width: 3px;
        border-top-style: inset;
        border-right-style: inset;
        border-bottom-style: solid;
        border-left-style: inset;
        border-top-color: #030303;
        border-right-color: #030303;
        border-bottom-color: #EFEFEF;
        border-left-color: #030303;
        cursor:default;
    }

    .buttonA:hover {
    background-color: #FFFFFF;
    }

     .bottom {
     font-size: 10px;
     }
     
     .sectionbody {
     
     }
     
     input{
     border: 2px solid #C9C9C9;
     }
     
     input:hover{
     border: 2px solid #000000;
     }
     
     input:focus{
     border: 2px dashed #000000;
     }
     

     
     textarea{
     border: 2px solid #C9C9C9;
     }
     
          textarea:hover{
     border: 2px solid #000000;
     }
     
     textarea:focus{
     border: 2px dashed #000000;
     }
     
     .inputsection {
     display: block;
     position: relative;
     width: 85%;
     border: 3px solid #000000; 
     background-color: #E0FCFC;
     margin: 1em;
     padding: 1em;
     }

          .inputsection:hover {

     border: 3px dashed #000000; 
     background-color: #ffffff;
     }
     
               .importantinput {
	display: block;
	margin: auto;
	width: 90%;
     background-color: #FFFFAD;
     font-size: larger;
     font-weight: bold;
     }
     
     .importantinput:before
	{
content: attr(name)
     }
     
     .importantinput>input{
     display: block;
 height: 1.5em;
     width: 100%;
     font-size: larger;
     }
     
          .importantinput>button{
     display: block;
 height: 1.5em;
     width: 100%;
     font-size: larger;
     }
     .importantinput>textarea{
     display: block;
font-size: larger;
     width: 100%;
     }
     
     
    .notice {
    padding: 5px;
    padding-left: 10px;
    margin: 8px;
    line-height: 1.5em;
    font-size: large;
        border-left:10px groove #0000FF;
        display: block;
border-top:1px solid #DDDDDD;
border-right:3px inset #AAAAAA;
border-bottom:3px inset #000000;
 
    }
    .notice:first-line{
    font-size: 14pt;
    font-weight: bold;
    text-transform:capitalize;
    
    }

          .sectionA[id=status]>span[class=sectionbody] {
         padding: 5px;
    margin: 5px;
    line-height: 2em;
    font-size: large;

       }
       
                 .sectionA[id=summary]>span[class=sectionbody] {
         padding: 5px;
    margin: 5px;
    line-height: 1.5em;
    font-size: large;

       }
     